* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: CabinetGrotesk-Extrabold, sans-serif;

}
/* First Page -------------------------------------------------------------------------------------------------------------- */
.main-section {
    background-image: url("../assets/baground.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: CabinetGrotesk-Extrabold, sans-serif;
}

.icon {
    width: 100px;
    margin: 20px 0px 40px 0px;
}

.main-header {
    padding-top: 100px;
}

.h1In-main {
    text-align: center;
    color: #242a54;
    font-size: 72px;
    font-weight: bolder;
}

.pIn-main {
    text-align: center;
    font-size: larger;
    padding-top: 20px;
    font-weight: lighter;
}

.h3In-main {
    text-align: center;
    color: #068a9b;
    padding-top: 5px;
}

.upcoming-card {
    padding-top: 95px;
}

.cardIn-main {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #242a54;
    width: 1000px;
    /* width: max-content; */
    padding: 20px 45px 15px 45px;
    overflow: hidden;
    border-radius: 8px;
    gap: 50px;
    height: 150px;

}

.iconsIn-main {
    width: 30px;
    background: white;
    color: #ff9900;
    border-radius: 4px;
    padding: 2px;

}

.h3In-main-2 {
    background: #f6b14b;
    padding: 15px 40px 15px 15px;
    border-radius: 4px 4px 0px 0px;

}

.h3In-main-3 {
    background: white;
    padding: 15px 40px 15px 15px;
    border-radius: 0px 0px 4px 4px;

}

. .secondRow {
    display: flex;
    flex-direction: row;
}

.headerIn-upcomingCard {
    display: flex;

    flex-direction: column;
}

.durationSection {
    display: flex;
    margin-top: 15px;
}

.duration-main1 {  git push -u origin main
    display: flex;
    gap: 10px;
    padding: 5px;
}

.duration-main2 {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.date {
    /* background: red; */
    height: 90px;
}

.pIn-main1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.h2In-main {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.courseDuration-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply {
    padding: 10px 20px 10px 20px;
    background: #f29100;
    border: none;
    font-weight: bolder;
    border-radius: 4px;

}

/* End of First Page -------------------------------------------------------------------------------------------------------------------- */

/* second page --------------------------------------------------------------------------------------------------------------------------------- */
.containerInP2-2 {
    font-family: CabinetGrotesk-Extrabold, sans-serif;
}

.headerInP2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: CabinetGrotesk-Extrabold, sans-serif;
}

.h1InP2 {
    color: #242a54;
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
}

.pInP2 {
    text-align: center;
    font-size: larger;
    font-weight: 100;
    padding-top: 10px;
}


.cardsInP2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 20px;
    padding-top: 70px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background: aqua; */
    overflow: hidden;
    padding: 20px 20px 100px 20px;
    border-radius: 12px;
}

.one {

    background-color: #b4edf8;
}

.two {

    background-color: #fbddb1;
}

.three {
    background-color: #a7f3d0;

}

.four {

    background-color: #d8b4fe;
}

/*ready section*/
.ready-box {
    background-color: rgb(180, 237, 248);
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px 40px 80px 40px;
    margin-top: 140px;
    overflow: hidden;
}

.ready-text {
    font-family: CabinetGrotesk-Extrabold, sans-serif;
    padding: 75px 0px 30px 0px;
    font-size: 48px;
    line-height: 48px;
    color: #242a54;
    font-weight: 700!important;
    text-align: center;
}

.ready-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 170px;
}

.ready-circle {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 45px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(36, 42, 84);
    padding: 10px 0px 0px 16px;
    color: white;
}

.ready-box-large {
    /* width: 150px; */
}

.ready-box-1 {
    /* border: 1px solid black; */
    padding-top: 40px;
    padding-left: 40px;
    position: relative;
}

.ready-box-small {
    width: 70px;
    height: 100px;
    border-top: 1px dashed rgb(36, 42, 84);
    border-left: 1px dashed rgb(36, 42, 84);
    padding: 32px 0px 0px 32px;
}

.ready-h3 {
    width: 120px;
    color: #242a54;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

/* end of Ready Section-------------------------------------------------------------------------------------------------------------*/

.soft-h1 {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: #242a54;
    font-weight: 700;
    font-family: CabinetGrotesk-Extrabold, sans-serif;

}

.soft-container {
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ;
    font-family: CabinetGrotesk-Extrabold, sans-serif;

}

.soft {
    /* border: 1px solid black; */
    padding: 70px 10px 60px 40px;
    width: 400px;
    height: 300px;
}

.soft-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #242a54;
}

.soft-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.soft.first {
    height: 250px;
    border-right: 1px dashed black;
    padding-right: 50px;

}

.soft.third {
    height: 250px;
    padding-left: 50px;
    border-left: 1px dashed black;
}
/*end of Software section*-------------------------------------------------------------------------------------*/
.upcomming-batch{
    margin-top: 30px;
}
.upcomming-container{
    font-family: CabinetGrotesk-Extrabold, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
    border-radius: 10px;
    width: 560px;
   background-color: rgb(225, 248, 252);
}
.upcomming-container.last{
    background-color: rgb(253, 242, 224);
    margin-left: 150px;
    overflow: hidden;
}
.upcomming-section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 200px;
}
.cal-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    overflow: hidden;
    border-radius: 6px;
    margin-left: 60px;
    height: 60px;
}
.yearesh{
    background-color: white;
    height: 200px;
    padding: 26px;
}
.monthes{
    background-color:rgb(246, 177, 75);
    height: 80px;
    width: 70px;
    padding:26px;
}
.offline{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}
.months{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}
.join{
   background-color: paleturquoise;
   padding: 10px;
   margin: 0px;
   text-align: center;
}
.join-fast{
    display: flex;
    flex-direction: column;
}
.upcomming-text{
    padding-top: 60px;
    padding-left: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.become-h2{
    padding-left: 60px;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #242a54;
}
.course-content.fl{
    padding-left: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(242, 145, 21);
}
.course-content{
   color: #068a9b;
   padding-left: 60px;
}
.course-para{
    padding-left: 60px;
    width: 400px;
}
.soft-icons{
    padding-left: 60px;
}
.offline{
    font-size: 16px;
    font-weight: 400;
    color: #242a54;
}
.join.ls{
    background-color:rgb(246, 177, 75) ;
}
.join-text{
    font-size: 14px;
    line-height: 36px;
    color: #242a54;
    font-weight: 500;
}
/* ENd of upcoming Batch Section ------------------------------------------------------------------------------ */
.frequently{
    display: flex;
    justify-content: center;
}
.freq-h1{
    font-family: CabinetGrotesk-Extrabold, sans-serif;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: #242a54;
    font-weight: 600;
    margin-bottom: 40px;
}
.freq-para{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 50px;
}
.container-freq{
    display: flex;
    flex-direction: column;

}
.cost{
    border: 1px solid rgba(174, 166, 166, 0.495);
    padding: 20px;
    margin-bottom: 20px;
    width: 1000px;
    border-radius: 10px;
   
}

.cost.freq2{
    padding: 40px 0px 40px 20px;
}
.cost.freq3{
    padding: 40px 0px 40px 20px;
}
.cost.freq4{
    padding: 30px 0px 40px 20px;
}
.freq-h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #242a54;
}
.ready-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: rgb(23, 195, 226);
    width: 100vw;
    /* margin-bottom: 50px; */

}
.ready-para{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}
.ready-h1{
    font-size: 48px;
    line-height: 48px;
    color: #242a54;
    font-weight: 700;
    text-align: center;
}
.whats-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    padding: 10px 0px 10px 15px;
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 10px;
}
.ready-chat{ 
    margin-top: 5px;
    padding-right: 10px;
}
.whats-icon:hover{
    background-color: rgb(36, 42, 84);
    color: white;
}
/*End of frequently asked section  */
.footer-section{
    width: 100vw;
    height: 100vh;
    
}
.footer-container{
    padding: 40px 100px 0px 50px ;
    display: flex;
    flex-direction:row ;
    gap:140px;
}
.footer-section{
    background-color: #242a54;
    height: 300px;
}
.icon-footer{
    width: 110px;
    margin-bottom: 20px;
}
.footer-last{
    color: rgb(208, 203, 203);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
}
.first-footer{
    margin-top: 10px;
}
.second-footer{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    margin-left: 150px;
    margin-right: 100px;
}
.third-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 70px;
}
.second-h4{
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    
}
.copyright{
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #c4cadc ;
}
.footer-icon{
    display: flex;
    flex-direction: row;
}
/* End Of Footer Section */

/* Media Query Section */
/* Media Query Section */